@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Lobster+Two:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    font-size: 25px;
    font-family: 'Lobster Two';
    height: 92px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    text-decoration: underline;
}

nav ul {
    list-style: none;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Baloo Bhaijaan 2';
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    border: 2px solid black;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(248, 248, 248);
}

.bt-0 {
    border-top: 0;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bb-0 {
    border-bottom: 0;
}

.gameInfo {
    padding: 0 50px;
}

#reset {
    background-color: aqua;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid black;
    font-family: 'Baloo Bhaijaan 2';
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
}

#reset:hover {
    background-color: white;
}

.imgbox img {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}